PRIVATE_KEY=<Metamask PRIVATE key for any of the accounts> # Key from Ganache or Metamask account
SEPOLIA_RPC_URL=<Alchemy Sepolia URL> # URL from Sepolia Testnet (Alchemy)
ETHERSCAN_KEY=<API key from Etherscan>
REPORT_GAS=<To report gas utilization, set as true or false>
CURRENCY=<Currency to report in>
COIN_MARKET_KEY=<API key from CoinMarketCap>